.mineDetail {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 0 0.12rem 0 0.12rem;
    font-size: 0.12rem;
    color: #333;
    .item {
        display: flex;
        justify-content: space-between;
        height: 0.48rem;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        line-height: 0.48rem;
        img {
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
            margin: auto 0;
        }
        span:last-child {
            color: #666;
        }
    }
    .item:first-child {
        height: 0.84rem;
        line-height: 0.84rem;
    }
    .item:last-child {
        border: 0;
    }
}