.wrapCenter{text-align:center;}/*IE下兼容居中*/
.center{
	width:1174px;
	height:405px;
	margin:50px auto;
	position:relative;
}

#main li{
	width:106px;
	height:405px;
	float:left;
	overflow:hidden;
	border-left:1px solid black;
	background-color:black;
	
}
#main li.first{
	width:538px;
}
#main li.last{
	position:absolute;
	right:0;
	top:0;
}
#main li img{
	opacity:0.5;
	filter:alpha(opacity=50);
}
#main li img.act1{
	opacity:1;
	filter:alpha(opacity=100);
}
#footer a{
	display:inline-block;
	padding:10px 15px;
	border:3px solid #999;
}
#footer a.act2{
	background:red;
	color:#fff;
	cursor:default;
}
#footer{
	width:600px;
}
.pageup{
	float:left;
}
.pagedown{
	float:right;
}