<!DOCTYPE html>
<html lang="zh-CN" ng-app="myModule">
<head>
  <meta charset="utf-8">
  <title>test</title>

  <!-- 优先使用最新版本的IE 和 Chrome 内核 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="不超过150个字符">
  <meta name="keywords" content="">
  <meta name="author" content="空山, 112093112@qq.com">

  <!-- 为移动设备添加 viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <base target="_blank"></base>

  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
  <script src="../lib/angularjs/angular.1.4.6.js" type="text/javascript"></script> 
  <script src="../lib/angularjs/angular-animate.1.4.6.js"></script>

  <script src="../lib/angularjs/angular-touch.1.4.6.js"></script>
  <script src="../lib/angularjs/ui-bootstrap-tpls-2.2.0.js"></script>
</head>
<body class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                
            </div>
        </div>
        <div class="panel-body">
            
        </div>
        <script type="text/javascript">
            //注意,扩展库中依赖的库这里需写入
            var myModule = angular.module('myModule',['ngAnimate', 'ngTouch', 'ui.bootstrap']);
        </script>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                指令调用控制器的方法，使用 <code>link</code>
            </div>
        </div>
        <div class="panel-body">
            <ul>
                <li><loader ng-controller='MyCtrl1' howToLoad="loadData()">Hover to load</loader></li>
                <li><loader ng-controller='MyCtrl2' howToLoad="loadData2()">Hover to load2</loader></li>
                <li>{{loadStatus}}</li>
            </ul>
        </div>
        <script type="text/javascript">
            
            myModule.controller('MyCtrl1', ['$scope',
                function($scope) {
                    $scope.loadData = function() {
                        console.log('Loading111...');
                        $scope.$parent.loadStatus = "Loading111...";
                    };
                }
            ]);

            myModule.controller('MyCtrl2', ['$scope',
                function($scope) {
                    $scope.loadData2 = function() {
                        console.log('Loading222...');
                        $scope.$parent.loadStatus = "Loading222...";
                    };
                }
            ]);

            myModule.directive('loader', function() {
                return {
                    resetrict: 'AE',
                    template: '',
                    replace: true,
                    link: function(scope, element, attrs) { //第4参数为父控制器

                        // 绑定事件
                        element.bind('mouseenter', function() {

                            // 以下两种形式都可以，推荐下面的
                            //scope.loadData();
                            //scope.$apply('loadData()');

                            // 通过属性值调用,可实现指令复用
                            // 根据指令特定属性的不同应用不同方法
                            // 注意 坑 : HTML中(属性名,而不是属性值的字符串)驼峰写法在js中应小写
                            scope.$apply(attrs.howtoload);
                        });
                    }
                }
            });
        </script>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                指令之间的交互: 
                <div class="small">重点是创建独立 scope，使得指令之间不互相影响</div>
            </div>
        </div>
        <div class="panel-body">
            <ul ng-controller='parentSupCtrl'>
                <li><superman  supermanStatusA = "{{supermanStatusB}}" strength>Strength : {{supermanStatus}}</superman></li>
                <li><superman  supermanStatusA = "{{supermanStatusB}}" strength speed>Strength &amp; Speed : {{supermanStatus}}</superman></li>
                <li><superman  supermanStatusA = "{{supermanStatusB}}" strength speed light>Stength &amp; Speed &amp; Light : {{supermanStatus}}</superman></li>
                <li><b>超人现在的能力值是 : {{supermanStatus}} </b></li>
            </ul>
        </div>
        <script type="text/javascript">
            myModule.controller('parentSupCtrl',['$scope',function($scope) {
                //$scope.supermanStatus = '什么都没有0';
                $scope.supermanStatusB = '什么都没有1';
            }]);
            myModule.directive('superman', function() {
                return {

                    // 创建独立 scope
                    scope: {
                      supermanStatus : '&supermanStatusA'
                    },
                    restrict: 'AE',

                    // 希望指令暴露出一些方法编写在 controller 里面供其他指令调用
                    // 同时使用 this 指代 superman的controller，这样交互的指令才能引用 
                    controller: function($scope) {
                        $scope.abilities = [];
                        $scope.supermanStatus = '123';
                        this.addStrength = function () {
                            $scope.abilities.push('Strength');
                        };
                        this.addSpeed = function () {
                            $scope.abilities.push('Speed');
                        };
                        this.addLight = function () {
                            $scope.abilities.push('Light');
                        };
                    },

                    // link 处理指令内部事件,
                    link: function (scope, element, attrs) {
                        element.addClass('btn btn-primary btn-lg');
                        scope.supermanStatus = '什么都没有3';
                        element.bind('mouseenter', function() {
                            console.log(scope.abilities);
                            scope.$parent.supermanStatus = scope.abilities.join();
                            scope.$apply();
                            //scope.supermanStatus = scope.abilities.join();
                        });
                    }
                };
            })
            .directive('strength', function() {
                return {

                    // 依赖于 superman 指令，这样 link 函数才可以调用 supermanCtrl 参数
                    require: '^superman',
                    link: function(scope, element, attrs, supermanCtrl) {
                        supermanCtrl.addStrength();
                    }
                };
            })
            .directive('speed', function() {
                return {
                    require: '^superman',
                    link: function(scope, element, attrs, supermanCtrl) {
                        supermanCtrl.addSpeed();
                    }
                };
            })
            .directive('light', function() {
                return {
                    require: '^superman',
                    link: function(scope, element, attrs, supermanCtrl) {
                        supermanCtrl.addLight();
                    }
                };
            });
            
        </script>
    </div>
    
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                scope的绑定策略
            </div>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-controller="MyCtrlA">
                    <dl>
                        <dt><code>@</code> 把当前属性作为字符串传递. 你还可以绑定来自外层scope的值,在属性值中插入双花括号{ {}}即可
                        </dt>
                        <dd>
                            <drinkA flavor="{{ctrlFlavorA}}"></drinkA>
                        </dd>
                    </dl>
                    <script type="text/javascript">
                        myModule.controller('MyCtrlA', ['$scope', function ($scope) {
                            $scope.ctrlFlavorA = '青岛啤酒';
                        }])
                        myModule.directive('drinka',function(){
                            return {
                                restrict:'AE',
                                template:'<div>{{flavor}}</div>',
                                /*
                                link: function(scope, element, attrs){
                                    scope.flavor=attrs.flavor;
                                }
                                和下面的方法等价;
                                */
                                scope: {
                                    flavor:'@'
                                }
                            }
                        })
                    </script>
                </li>
                <li  ng-controller="MyCtrlB">
                    <dl>
                        <dt>
                            <code>=</code> 与父scope中的属性进行双向绑定
                        </dt>
                        <dd>
                            Ctrl:<br>
                            <input type="text" ng-model='ctrlFlavorB'>
                        </dd>
                        <dd>
                            Directive<br>
                            <drinkB flavor='ctrlFlavorB'></drinkB>
                        </dd>
                    </dl>
                    <script type="text/javascript">
                        myModule.controller('MyCtrlB', ['$scope', function ($scope) {
                            $scope.ctrlFlavorB = '百威啤酒';
                        }])
                        //注意 坑,html中非字符串的字符, 在js中忽略大小写, 全部小写;
                        myModule.directive('drinkb',function(){
                            return {
                                restrict:'AE',
                                template:'<input type="text" ng-model="flavor"></div>',
                                scope: {
                                    flavor:'='
                                }
                            }
                        })
                    </script>
                </li>
                <li ng-controller="MyCtrlC">
                    <dl>
                        <dt>
                            <code>&</code> 传递一个来自父scope的函数, 稍后调用
                        </dt>
                        <dd>
                            <drinkC flavor='drinking(name)'></drinkC>
                            <drinkC flavor='drinking(name)'></drinkC>
                            <drinkC flavor='drinking(name)'></drinkC>
                        </dd>
                    </dl>
                    <script type="text/javascript">
                        myModule.controller('MyCtrlC', ['$scope', function ($scope) {
                            $scope.drinking = function(name){
                                alert("正在喝" + name)
                            };
                        }])
                        myModule.directive('drinkc',function(){
                            return {
                                restrict:'AE',
                                template:'<div><input type="text" ng-model="beerName">' +
                                         '<button class="btn btn-default" ng-click="flavor({name: beerName})">饮酒状态</button><br></div>',
                                scope: {
                                    flavor:'&'
                                }
                            }
                        })
                    </script>
                </li>
            </ul>
        </div>
    </div>
    <div ng-controller="ttt">
      <aaa mydir></aaa>
    </div>
</body>
</html>
